<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plotify</title>
    <link rel="stylesheet" href="/static/index.css" />
  </head>
  <body>
    <div class="main">
      <h1 style="text-align: center">Welcome to Plotify!</h1>
      <br />
      <p id="introPara">
        Introducing "Plotify" - a user-friendly web tool for effortless data
        visualization. Input data, choose from various chart types, and enjoy
        real-time feedback. Export, share, and save your projects. Make data
        come alive with responsive design. "Plotify" : Your Data Visualization
        Companion for dynamic insights!
      </p>
      <div class="inputContainer">
        <form action="/process" method="POST">
          <h3 style="text-align: center">Enter the name of the Graph</h3>

          <input
            style="margin-left: 25%"
            type="text"
            name="graphName"
            id="graphName"
          />
          <br />
          <label for="choose">Select the type of graph</label>
          <select name="choose" id="SelG">
            <option value="scatt">Scattered</option>
            <option value="dotted">Dotted</option>
            <option value="line">Line</option>
            <option value="bar">Bar</option>
          </select>
          <br />
          <input
            type="text"
            required
            name="x_label"
            placeholder="Label for X-axis"
          /><br />
          <input
            type="text"
            name="y_label"
            required
            placeholder="Label for Y-axis"
          />
          <br />
          <table border="1" id="mainTable">
            <tr>
              <th>X-axis</th>
              <th>Y-axis</th>
            </tr>
            <tr>
              <td><input type="number" name="x_axis" required /></td>
              <td>
                <input type="number" name="y_axis" required />
              </td>
            </tr>
          </table>
          <input style="display: inline" type="submit" value="submit" />
        </form>
        <button id="addR" onclick="addRow()">Add Row +</button>
      </div>

      <div class="opContainer">{{ display }}</div>
    </div>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
  </body>
</html>
