<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      #image {
        border: 2px solid cyan;
        padding: 10px;
      }
    </style>
  </head>
  <body style="background-color: #333">
    <div id="image">
      <h2>
        Success!!
        <p>
          To return to the Home Page
          <a href="/reClick"> click here </a>
        </p>
      </h2>
    </div>
  </body>
</html>
